<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div id="sidebar" th:fragment="sidebar">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/main/index">
                <div class="sidebar-brand-icon" >
                    <img style="width: 30px;" src="/img/anything.png">
                </div>
                <div class="sidebar-brand-text mx-3" style="margin-left:3px !important;">잡동사니</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="/main/index">
                    <span>메인화면</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                게시판
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="/alimTalk/index" style="padding-bottom: 3px;">
                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    <span>일정</span>
                </a>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="/notepad/index" style="padding-top: 3px;">
                    <i class="fas fa-clipboard-list text-gray-300"></i>
                    <span>메모장</span>
                </a>
            </li>

            <!-- TODO : Divider
            <hr class="sidebar-divider">

            Heading
            <div class="sidebar-heading">
                MYBOX
            </div>

            <li class="nav-item">
                <a class="nav-link" href="#" >
                    <span>MYBOX</span>
                </a>
            </li>
            -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
    </div>
</body>
</html>
<script>
    const logout = function () {
        location.href = '/login/logout';
    };
    const alimTalk = function () {
        location.href = '/alimTalk/index';
    };
</script>