<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>잡동사니</title>
    <!-- Custom fonts for this template-->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/alimtalk.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/fontawesome-free/css/all.min.css}">
    <!-- Custom styles for this template-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/sb-admin-2.css}">
</head>

<body id="page-top">

<!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <div th:replace="~{common/sidebar :: sidebar}"></div>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <div th:replace="~{common/header :: header}"></div>
                <!-- End of Topbar -->

                <!-- 메모장 DIV -->
                <div class="container-fluid" style="text-align: right;">
                    <button id="addBtn" type="button" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                            class="fas fa-sm text-white-50"></i>추가</button>
                    <div id="contentDiv" style="overflow: auto">
                        <div style="clear: both;"></div>
                        <hr style=" margin-top: 10px; margin-bottom: 30px;"/>
                        <div>
                            <div class="container-fluid">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="notepadTable">
                                            <thead>
                                            <tr>
                                                <th>순번</th>
                                                <th>제목</th>
                                                <th>내용</th>
                                                <th>알림발송일시</th>
                                                <th>발송유형</th>
                                                <th>등록일시</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="notepad : ${notepadList}">
                                                    <input id="notepadSeq" name="notpadSeq" type="hidden" th:value="${notepad.notepadSeq}">
                                                    <td th:text="${notepadStat.count}"></td>
                                                    <td th:text="${notepad.title}"></td>
                                                    <td th:text="${notepad.content}"></td>
                                                    <td th:text="${#dates.format(notepad.sendDt, 'yyyy-MM-dd')}"></td>
                                                    <td th:text="${notepad.sendYn.equals('Y') ? '예약발송' : notepad.sendYn.equals('N') ? '미발송' : '즉시발송'}"></td>
                                                    <td th:text="${#dates.format(notepad.regDt, 'yyyy-MM-dd')}"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Content Row -->
            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
    </div>
</body>
</html>
<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Page level custom scripts -->
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/locales-all.js"></script>
<script th:inline="javascript">
    var memberId = "[[${session.member.memberId}]]";
</script>
<script>
    $(document).ready(function() {
        $('#notepadForm').submit(function () {

        });

        // 모달 열기
        $('#addBtn').on('click', function() {
            openNotePadForm(0);
        });
        $('input[name="alimYn"]').on('click', function(){
            if ($(this).val() == 'N') {
                $('#amPmSelectBox').attr('disabled',true);
                $('#hourSelectBox').attr('disabled',true);
                $('#minuteSelectBox').attr('disabled',true);
            }
        });

        $('#notepadTable tr').on('click', function(){
            openNotePadForm($(this).find('#notepadSeq').val());
        });
    });

    const openNotePadForm = function (notepadSeq) {
        const url = "form?notepadSeq=" + notepadSeq;
        const width = 600;
        const height = 600;
        const popupX = Math.ceil(( window.screen.width - width )/2);
        const popupY = Math.ceil(( window.screen.height - height )/2);
        const options = 'width=' + width + ', height=' + height + ', left='+ popupX + ', top=' + popupY + ', status=no, menubar=no, toolbar=no, resizable=no';
        window.open(url, 'formPop', options);
    };
</script>